* {
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    border: 3px solid gray;
}

div {
    border: 3px solid black;
}

h1{
    background-color: #93C481;
    color: white;
    padding: 10px;
    width: 400px;
    text-align: center;
}

input {
    border: 3px solid #93C481;
    color: #FFB450;
    font-weight: 500;
}

button {
    border: 3px solid #93C481;
    color: #93C481;
}

li{
    color: #FFB450;
    font-weight: 500;
}

ul{
    list-style: none;
}

span{
    background-color: #E16566;
    color: white;
    padding: 3px;
    margin: 15px 15px 15px 15px;
}

